<table>
<% practices.forEach(function (practice) { %>
  <tr>
  <td><%= practice.med_name %></td>
  <td><%= practice.med_invoice %></td>
  <td><%= practice.med_expiry %></td>
  <td><%= practice.user_contact %></td>
  <td><%= practice.user_email %></td>
  <td><a  class="btn btn-primary btn-xs" href="/users/delete/<%= practice._id %>"><i class="fa fa-edit"></i></a></td>
  </tr>
<% }) %>

</table>

<a href="/users/logout_ngo" class="btn btn-secondary">Logout</a>